# Gradle
.gradle
/.gradle/
build/
!/scripts/**/build
local.properties
/reports/
gradle-user-home/
profile-out/
profile-out-*/

# IntelliJ IDEA
.idea/*
!.idea/ktfmt.xml
*.iml
*.ipl
*.ipr
*.iws
.shelf/

# kotlin
.kotlin

# iOS
**/xcuserdata/

# Steve Jobs
.DS_Store

